HELP.md
.env

*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.gradle
**/build/
!src/**/build/
gradle-app.setting
.gradletasknamecache
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.gz
!gradle-wrapper.jar
.idea
